#block-credentialsaboutus {
  background-color: $light-blue;
  color: $dark-blue;
  font-family: $secondary-font-family;

  .credentials {
    @include clearfix;
    padding: $large-spacing*1.5;

    @include media($extra-large-screen-down) {
      padding: $base-spacing;
    }

    .credentials__column {
      @include span-columns(4 of 12);
      border-right: 1px solid $dark-gray; 
      margin: 0;
      padding-left: $base-spacing*5;

      &:first-of-type {
        padding-left: 0;
      }

      &:last-of-type {
        border-right: none;
      }

      .credentials__title {
        float: left;
        font-size: $fs-medium-large;
        margin-right: $base-spacing;
        margin-top: -$base-spacing*3;
        font-family: "Granjon Bold";

        span {
          font-size: $fs-medium;
          vertical-align: middle;
        }

        @include media($extra-large-screen-down) {
          font-size: $fs-medium;
          margin-top: -$base-spacing;

          span {
            font-size: $fs-regular;
            vertical-align: middle;
          }
        }

        @include media($larger-screen-down) {
          margin-top: 0;
          float: none;
          text-align: center;
          line-height: 30px;
        }
      }

      .credentials__body {
        font-size: 1.45em;
        max-width: 222px;
        float: left;
        line-height: 30px;
        margin-bottom: 5px;

        @include media($extra-large-screen-down) {
          font-size: $fs-extra-small;
        }

        @include media($larger-screen-down) {
          text-align: center;
          float: none;
          margin-left: auto;
          margin-right: auto;
        }
      }

      .credentials__footer {
        float: left;
        max-width: 200px;
        font-size: $fs-extra-small*0.8;
        font-weight: bold;

        @include media($larger-screen-down) {
          text-align: center;
          margin: auto;
          float: none;
        }
      }

      @include media($extra-large-screen-down) {
        padding: $base-spacing;
      }

      @include media($medium-screen-down) {
        float: none;
        @include span-columns(12 of 12);
        border-right: none;
        border-bottom: 1px solid $dark-gray; 

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
