#block-callouthome {
  .field--name-body {
    right: 2%;

    h2 {
      color: $dark-blue;
      margin: 0;
      line-height: 35px;
    }

    p {
      color: $dark-blue;
      font-size: $fs-regular;

      &:first-of-type {
        font-family: "Granjon Italic";
        color: $red;
        font-size: $fs-medium-large;
      }
    }
  }

  @include media($medium-screen-down) {
    display: none;
  }
}
